<div>
	<section id="nw-profile">
		<h2 class="hidden">Profile</h2>
		<div id="logo-img">
			<img src="/assets/profile_example.png" alt="Profile image" class="img-circle"><br>
		</div>
		<div>
			<p id="profile-context">Hi! I'm Namwon</p>
			<%= render :template => "specs/index" %>
		</div>
	</section><br>
	<hr>
	<section id="nw-language">
		<h2 class="mainview-title">Language skills</h2>
		<img src="/assets/Korea.png" alt="Profile image" class="img-rounded">
		<img src="/assets/USA.png" alt="Profile image" class="img-rounded">
		<img src="/assets/Russia.png" alt="Profile image" class="img-rounded">
		<img src="/assets/China.png" alt="Profile image" class="img-rounded">
	</section><br>
	<hr>
	<section id="nw-design">
		<h2 class="mainview-title">Design</h2>
		<div>
			<%= render :template => "designs/index" %>
		</div>
	</section><br>
	<hr>
	<section id="nw-development">

			<h2 class="mainview-title">Development</h2>

	</section><br>
</div>

<hr>

<footer>
	<button class="sns-btn btn-default"><a href="https://www.linkedin.com/in/namwon-heo-20ba2679">LinkedIn</a></button>
	<!--유저 로그인 -->
	<div class="login">
		<% if user_signed_in? %>
		  <p>현재 로그인된 유저: <%= current_user.email %><span>
		  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
		<% else %>
		  <p><%= link_to "로그인", new_user_session_path %></p>
		<% end %>
	</div>
	<!-- 로그인 끝 -->
</footer>
