<div class="container">

	<div>
		<section id="nw-profile">
			<h2 class="hidden">Profile</h2>
			<div id="logo-img">
				<img src="/assets/profile_example.png" alt="Profile icon image" class="img-circle"><br>
			</div>
			<div id="profile-body">
				<p>My name is Namwon</p>
			</div>
			<div class="container spec-box">
				<button class="new-btn btn-default">
					<%= link_to "New Spec", new_spec_path %>
				</button><br><br>
				<%= render :template => "specs/index" %>
			</div>
		</section><br>
		<hr>
		<section id="nw-language">
			<h2>Language skills</h2>
		</section><br>
		<hr>
		<section id="nw-design">
			<h2>Design</h2>
			<button class="new-btn btn-default">
				<%= link_to "New Design", new_design_path %>
			</button><br><br>
			<div class="container">
				<%= render :template => "designs/index" %>
			</div>
		</section><br>
		<hr>
		<section id="nw-development">
			<h2>Development</h2>
		</section><br>
	</div>

</div>
<hr>

<footer>
	<button class="sns-btn"><a href="https://www.linkedin.com/in/namwon-heo-20ba2679">LinkedIn</a></button>
	<!--유저 로그인 -->
	<div class="login">
		<% if user_signed_in? %>
		  <p>현재 로그인된 유저: <%= current_user.email %><span>
		  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
		<% else %>
		  <p><%= link_to "로그인", new_user_session_path %></p>
		<% end %>
	</div>
	<!-- 로그인 끝 -->
</footer>
