<% if @spec.errors.any? %>
  <ul>
    <%= @spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @spec do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <br>

  <div>
    <%= f.label :body %>
  </div>
  <div>
    <%= f.cktext_area :body, rows: 10 %>
  </div><br>

  <button class="btn-default"><%= link_to "Back", :back %></button><br>
  <div class="submit-btn"><%= f.submit %></div>

<% end %>
